<div class="container">
	<div class="jumbotron">	

		<%= form_tag '/admins', :method => 'get' do %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :sort, params[:sort] %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>

		<div id="users">
			 <%= render "partials/admins/users" %>
		</div>
  	</div>
</div>